<form class='row mt-4' name="container-form" method="post" action="/courses/handle-form-action">
  <h3 class='text-center'>Khoá học của tôi</h3>
  <div class="ps-0">
    <a href="/me/trash/courses">
   <i class="fas fa-trash" ></i>
  Thùng rác: ({{deletedCount}})</a>

  </div>
  <div class="col-lg-4 ps-0 my-3 check-all">
    <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
  <label class="form-check-label" for="checkbox-all">
    Select all
  </label>
</div>
<select class="form-select " aria-label="Default select example" name="action" required>
  <option value="" >-- select action --</option>
  <option value="delete">delete</option>
</select>
  <button class="btn btn-primary btn-submit-action" disabled>Apply</button>

  </div>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th scope="col">
          select
        </th>
        <th scope='col'>#</th>
        <th scope='col'>Tên Khoá Học</th>
        <th scope='col'>Trình Độ</th>
        <th scope='col' colspan='2'>Thời Gian Tạo</th>

      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
          <input class="form-check-input" type="checkbox" name="coursesIds[]" value="{{this._id}}">
          </div>
        </td>
        <th scope='row'>{{increment @index}}</th>

        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href='/courses/{{this._id}}/edit' class='btn btn-primary'>Sửa</a>
        </td>
        <td>
          <a href='/courses/{{this_id}}' data-id='{{this._id}}' class='btn btn-danger' data-bs-toggle='modal'
            data-bs-target='#delete-course-modal'>Xoá</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">Bạn chưa đăng khoá học nào
          <a href="/courses/create">Đăng khoá học ngay</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! NOTE: Confirm delete }}
<div class='modal fade' tabindex='-1' id='delete-course-modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Xoá khoá học này? </h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <p>Bạn chắc chắn muốn xoá?</p>
      </div>
      <div class='modal-footer'>

        <button id="btn-delete-course" type='button' class='btn btn-danger'>Xoá bỏ</button>
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Huỷ</button>
      </div>
    </div>
  </div>
</div>
{{!-- delete hidden form --}}
<form method='post' name="delete-form"></form>
<script>
  document.addEventListener('DOMContentLoaded',function(){
    // when modal show
    let courseId ='';
    const containerForm = $('form[name="container-form"]')
    const deleteForm = document.forms['delete-form'];
    const courseModal = document.getElementById('delete-course-modal');
    const checkboxAll = $('#checkbox-all')
    const courseItemCheckbox = $('input[name="coursesIds[]"]')
    const btnSubmitAction = $('.btn-submit-action')
    courseModal.addEventListener('show.bs.modal', function (event) {
    const button = event.relatedTarget;
    courseId = button.getAttribute('data-id');

  })
  //check all submit button disabled
 
  // when click delete
    const btnDeleteCourse = document.getElementById('btn-delete-course');
    btnDeleteCourse.addEventListener('click', function(){
      deleteForm.action = `/courses/${courseId}?_method=DELETE`;
      deleteForm.submit()

    })

    // when click checkbox all
    checkboxAll.change(function(){
      const isChecked = $(this).prop('checked')
      courseItemCheckbox.prop('checked',isChecked)
      renderCheckAllButton()
      
    })
    // Course item checkbox changed
    courseItemCheckbox.change(function(){
      const isCheckedAll = courseItemCheckbox.length === courseItemCheckbox.filter(':checked').length
      checkboxAll.prop('checked',isCheckedAll)
      renderCheckAllButton()
    })
    // render check all button submit
    function renderCheckAllButton(){
      const checkedCount = courseItemCheckbox.filter(':checked').length
      const isDisabled = checkedCount === 0
      btnSubmitAction.prop('disabled',isDisabled)
    }
  })
   
 
  
</script>