<div class='row mt-4'>
  <h3 class='text-center'>Khoá học đã xoá</h3>
  <div>
    <a href="/me/stored/courses">
    <i class="fa-solid fa-arrow-left"></i>
  Danh sách khoá học</a>
  </div>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Tên Khoá Học</th>
        <th scope='col'>Trình Độ</th>
        <th scope='col' colspan='2'>Thời Gian Xoá</th>

      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope='row'>{{increment @index}}</th>

        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
          <a href='' class='btn btn-primary btn-restore' data-id="{{this._id}}">Khôi phục</a>
        </td>
        <td>
          <a href='' data-id='{{this._id}}' class='btn btn-danger' data-bs-toggle='modal'
            data-bs-target='#delete-course-modal'>Xoá vĩnh viễn</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">Thùng rác trống
          <a href="/me/stored/courses">Danh sách khoá học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! NOTE: Confirm delete }}
<div class='modal fade' tabindex='-1' id='delete-course-modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Anh Nhắc Em? </h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <p>Bạn chắc chắn muốn xoá vĩnh viễn?</p>
      </div>
      <div class='modal-footer'>

        <button id="btn-delete-course" type='button' class='btn btn-danger'>Xoá luôn</button>
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Huỷ</button>
      </div>
    </div>
  </div>
</div>

<form method='post' name="delete-form"></form>
<form method='post' name="restore-form"></form>
<script>
  document.addEventListener('DOMContentLoaded',function(){
    // when modal show
    let courseId ='';
    const btnRestore = $('.btn-restore');
    const deleteForm = document.forms['delete-form'];
    const restoreForm = document.forms['restore-form'];
    const courseModal = document.getElementById('delete-course-modal');
    courseModal.addEventListener('show.bs.modal', function (event) {
    const button = event.relatedTarget;
    courseId = button.getAttribute('data-id');

  })
  // when click delete
    const btnDeleteCourse = document.getElementById('btn-delete-course');
    btnDeleteCourse.addEventListener('click', function(){
      deleteForm.action = `/courses/${courseId}/force?_method=DELETE`;
      deleteForm.submit()
  
    })
    btnRestore.click(function(e){
      e.preventDefault();
      const courseId = $(this).data('id');
      restoreForm.action = `/courses/${courseId}/restore?_method=PATCH`;
      restoreForm.submit();
    })
  })
 
  
</script>